<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create | Contact App</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <main class="container">
      <!-- Contact Thumbnail -->
      <section class="thumbnail-details">
        <section class="buttons">
          <a href="/" id="cancel-btn"><p>Cancel</p></a>
          <a
            id="save-btn"
            onclick="document.querySelector('#submit-btn').click()"
          >
            <p>Save</p>
          </a>
        </section>

        <a onclick="showModal()">
          <section id="add-photo" class="row">
            <svg viewBox="0 0 512 512" class="camera-svg">
              <path
                d="M512 144v288c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48h88l12.3-32.9c7-18.7 24.9-31.1 44.9-31.1h125.5c20 0 37.9 12.4 44.9 31.1L376 96h88c26.5 0 48 21.5 48 48zM376 288c0-66.2-53.8-120-120-120s-120 53.8-120 120 53.8 120 120 120 120-53.8 120-120zm-32 0c0 48.5-39.5 88-88 88s-88-39.5-88-88 39.5-88 88-88 88 39.5 88 88z"
              />
            </svg>
          </section>
        </a>
      </section>
      <section class="thumbnail-holder">
        <img src="/user.svg" alt="profile avatar" id="img-avatar" />
      </section>
      <!-- Image Modal -->
      <section id="img-modal" class="d-none">
        <section class="row modal-wrapper">
          <section class="modal-container">
            <section class="input-group">
              <label for="img-link">Image link</label>
              <input
                type="text"
                id="img-link"
                placeholder="https://"
                required
              />
            </section>
            <section class="buttons">
              <button onclick="hideModal()">Cancel</button>
              <button onclick="getImage(hideModal)">Accept</button>
            </section>
          </section>
        </section>
      </section>
      <!-- Contact Details -->
      <main class="p-10">
        <form action="/contact/save" method="post">
          <input type="text" name="id" value="<%= id %>" class="d-none" />
          <input type="text" name="avatar" id="avatar" class="d-none" />
          <section class="input-group">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required />
          </section>
          <section class="input-group">
            <label for="mobile">Mobile</label>
            <input type="tel" name="mobile" id="mobile" />
          </section>
          <section class="input-group">
            <label for="tel">Tel.</label>
            <input type="tel" name="tel" id="tel" />
          </section>
          <section class="input-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" />
          </section>
          <section class="input-group">
            <label for="address">Address</label>
            <input type="text" name="address" id="address" />
          </section>
          <button type="submit" id="submit-btn" class="d-none"></button>
        </form>
      </main>
    </main>
    <script>
      const imgModal = document.querySelector("#img-modal");
      const imgLink = document.querySelector("#img-link");
      const avatarField = document.querySelector("#avatar");
      const avatarImg = document.querySelector("#img-avatar");

      function getImage(callback) {
        if (imgLink.value.length > 0) {
          avatarField.value = imgLink.value;
          avatarImg.src = imgLink.value;
          callback();
        }
      }
      function showModal() {
        imgModal.classList.remove("d-none");
        imgLink.focus();
      }
      function hideModal() {
        imgModal.classList = "d-none";
      }
    </script>
  </body>
</html>
