<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= Error.status %> | Contact Manager</title>
  <link rel="stylesheet" href="/style.css" />
</head>

<body>
  <main class="container">
    <section class="error">
      <h1><%= Error.code %></h1>
      <h4><%= Error.status %></h4>
      <p><%= Error.message %></p>
    </section>
  </main>
</body>

</html>